<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Bara C Tudor">
  <meta name="keywords" content="music,guitar,notes compose">
  <link rel="stylesheet" type="text/css" href="/css/general.css">
  <link rel="stylesheet" type="text/css" href="/css/main-menu.css">
  <title>Compune-mă</title>
</head>

<body>

  <%- include("../fragmente/header.ejs") %>

  <main>
    <p> Pagian asta nu exista</p>
  </main>

</body>

</html>